body {
    background-color: #f1f1f1;
}

.login-container {
    max-width: 25%;
    max-height: 50vh;
    margin: 10% auto;
    background-color: white;
}

#login-form {
    padding-top: 5%;
    padding-bottom: 17vh;
    text-align: center;
    color: #234465;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 3% 0;
}

#login-form div label {
    margin-bottom: 1px;
    align-self: flex-start;
    margin-left: 4%;
    font-family: sans-serif;
}

#login-form button {
    margin-top: 5%;
    width: 90%;
    background-color: #0073b1;
    border: 0;
    border-radius: 2px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: sans-serif;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    outline-width: 2px;
    padding: 0 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    z-index: 0;
    background: #0a66c2 !important;
    border-radius: 28px !important;
}

 button:hover {
    background: #004182 !important;
}

#login-form h1 {
    font-size: 2.5rem;
    line-height: 1.25;
    font-weight: 600;
    font-family: sans-serif;
    color: rgba(0,0,0,0.9);
}

#login-form p {
    font-family: sans-serif;
    color: rgba(0,0,0,0.9);
}

#login-form div input {
    border: 1px solid gray;
    border-radius: 3px;
    /* padding: 0.2%; */
    width: 90%;
    color: #234465;
    min-height: 32px;
    padding: 0 5px;
}