/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.section {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.public-headline {
  font-size: 3.4rem;
  font-family: sans-serif;
  color: #2977c9;
  font-weight: 200;
  line-height: 70px;
  /* width: 55%; */
  padding-bottom: 48px;
}

.public-main-img {
  z-index: -1;
  width: 80%;
  height: 60%;
}