
html, body{min-height:100%;}
body {height: 100vh;}

#root {
  width: 100%;
  height: 100%;
}
.App {
  width: 100%;
  height: 100%;
}
/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.section {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.public-headline {
  font-size: 3.4rem;
  font-family: sans-serif;
  color: #2977c9;
  font-weight: 200;
  line-height: 70px;
  /* width: 55%; */
  padding-bottom: 48px;
}

.public-main-img {
  z-index: -1;
  width: 80%;
  height: 60%;
}

/*==================================Sign In==========================================*/
.signin-page {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f1f1f1;
}

.signin-container {
  min-width: 25%;
  max-height: 70vh;
  background-color: white;
}

#signin-form {
  width: 100%;
  height: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  color: #234465;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#signin-form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 3% 0;
}

#signin-form div label {
  margin-bottom: 1px;
  align-self: flex-start;
  margin-left: 4%;
  font-family: sans-serif;
}

#signin-form button {
  margin-top: 5%;
  width: 90%;
  background-color: #0073b1;
  border: 0;
  border-radius: 2px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-weight: 600;
  font-family: sans-serif;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  outline-width: 2px;
  padding: 0 24px;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  z-index: 0;
  background: #0a66c2 !important;
  border-radius: 28px !important;
}

#signin-form button:hover {
  background: #004182 !important;
}

#signin-form h1 {
  font-size: 2.5rem;
  line-height: 1.25;
  font-weight: 600;
  font-family: sans-serif;
  color: rgba(0,0,0,0.9);
}

#signin-form p {
  font-family: sans-serif;
  color: rgba(0,0,0,0.9);
}

#signin-form div input {
  border: 1px solid gray;
  border-radius: 3px;
  /* padding: 0.2%; */
  width: 90%;
  color: #234465;
  min-height: 32px;
  padding: 0 5px;
}

.join-now-btn {
  background-color: rgba(0,0,0,0);
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: inherit;
    height: 32px;
    line-height: 27px;
    overflow: hidden;
    outline-width: 2px;
    padding: 0 8px;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    z-index: 0;
    color: #0a66c2 !important;
    border-radius: 28px !important;
}

.join-now-btn:hover {
  background: #d0e8ff !important;
  text-decoration: underline;
}