
html, body{min-height:100%;}
body {height: 100vh;}

h1, h2, h3, h4, h5, h6, p {margin: 0}

#root {
  width: 100%;
  height: 100%;
}
.app {
  width: 100%;
  height: 100%;
  
}

.app-authenticated {
  min-height: 100%;
  background-color: #f3f2ef;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__body {
  display: flex;
  margin-top: 35px;
  max-width: 1200px;
  min-height: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.section {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.public-headline {
  font-size: 3.4rem;
  font-family: sans-serif;
  color: #2977c9;
  font-weight: 200;
  line-height: 70px;
  /* width: 55%; */
  padding-bottom: 48px;
}

.public-main-img {
  z-index: -1;
  width: 80%;
  height: 60%;
}

/*================================== Sign In ==========================================*/
.signin-page {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f1f1f1;
}

.signin-container {
  min-width: 25%;
  min-height: 55vh;
  max-height: 70vh;
  background-color: white;
}

#signin-form {
  width: 100%;
  height: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  color: #234465;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* #signin-form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 3% 0;
} */

/* #signin-form div label {
  margin-bottom: 1px;
  align-self: flex-start;
  margin-left: 4%;
  font-family: sans-serif;
} */

#signin-form button {
  margin-top: 5%;
  width: 90%;
  background-color: #0073b1;
  border: 0;
  border-radius: 2px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-weight: 600;
  font-family: sans-serif;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  outline-width: 2px;
  padding: 0 24px;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  z-index: 0;
  background: #0a66c2 !important;
  border-radius: 28px !important;
  align-self: flex-start;
}

#signin-form button:hover {
  background: #004182 !important;
}

#signin-form h1 {
  width: 100%;
  margin: 0;
  font-size: 2.5rem;
  line-height: 1.25;
  font-weight: 600;
  font-family: sans-serif;
  color: rgba(0,0,0,0.9);
}

#signin-form p {
  margin: 0;
  font-family: sans-serif;
  color: rgba(0,0,0,0.9);
}

/* #signin-form div input {
  border: 1px solid gray;
  border-radius: 3px;
  width: 90%;
  color: #234465;
  min-height: 32px;
  padding: 0 5px;
} */

.join-now-btn {
  background-color: rgba(0,0,0,0);
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: inherit;
    height: 32px;
    line-height: 27px;
    overflow: hidden;
    outline-width: 2px;
    padding: 0 8px;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    z-index: 0;
    color: #0a66c2 !important;
    border-radius: 28px !important;
}

.join-now-btn:hover {
  background: #d0e8ff !important;
  text-decoration: underline;
}


/*================================== Register ==========================================*/

.register {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f1f1f1;
}

.register__container {
  /* min-width: 20%; */
  min-height: 60vh;
  max-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

#register__form {
  width: 100%;
  height: 90%;
  /* padding-top: 5%; */
  /* padding-bottom: 5%; */
  text-align: center;
  color: #234465;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#register__form button {
  margin-top: 5%;
  width: 90%;
  background-color: #0073b1;
  border: 0;
  border-radius: 2px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-weight: 600;
  font-family: sans-serif;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  outline-width: 2px;
  padding: 0 24px;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  z-index: 0;
  background: #0a66c2 !important;
  border-radius: 28px !important;
}

#register__form button:hover {
  background: #004182 !important;
}