.editProfile__loading {
    position: absolute;
    min-width: 100%;
    min-height: 90vh;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255,255,255, 0.4);
}
.editProfile {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    max-width: 800px;
    min-width: 800px;
    min-height: 100%;
    border-radius: 10px;
    margin: 35px 20px 10px;
}

.editProfile__top {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.editProfile__background {
    display: flex;
    position: relative;
}

.editProfile__background > img {
    object-fit: cover;
    max-height: 300px;
    width: 100%;
}

.editProfile__avatar {
    position: relative;
    display: flex;
}

.editProfile-avatar {
    width: 100px !important;
    height: 100px !important;
    bottom: 60px;
    margin-left: 10px;
}

.editProfile__bottom {
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px;
}

.editProfile__bottom > div {
    margin-bottom: 20px !important;
}

.editProfile__bottom > button {
    max-width: 80px;
    align-self: flex-end;
}