.feed {
    flex: 0.6;
    margin: 0 20px;
}

.feed__inputContainer {
    margin-bottom: 20px;
    padding: 10px;
    padding-left: 20px;
    border-radius: 10px;
    background-color: #fff;
}

.feed__input {
    display: flex;
    padding: 10px;
    padding-left: 15px;
    color: gray;
    border: 1px solid lightgrey;
    border-radius: 30px;
}

.feed__input>form {
    display: flex;
    width: 100%;
}

.feed__input>form>input {
    border: none;
    flex: 1;
    margin-left: 10px;
    outline-width: 0;
    font-weight: 600;
}

.feed__input>form>button {
    display: none;
}

.feed__inputOptions {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 850px) {
    .feed {
        width: 100%;
        margin: 0;

        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .feed__inputContainer {
        width: 100%;
        padding: 0;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .feed__input {
        width: 90%;
        margin-top: 1rem;
    }

    .feed__inputOptions {
        width: 90%;
        margin: 5px 0 1rem 0;
    }

    .inputOption {
        padding: 0 !important;
        font-size: 12px;
    }
}