.invitationCard {
    min-width: 350px;
    max-width: 350px;
    min-height: 80px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;



    box-shadow: 0px 0px 5px 1px rgba(119, 119, 119, 0.6);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(119, 119, 119, 0.6);
    -moz-box-shadow: 0px 0px 5px 1px rgba(119, 119, 119, 0.6);
}

.invitationCardSent {
    min-width: 250px;
    max-width: 260px;
    min-height: 80px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;



    box-shadow: 0px 0px 5px 1px rgba(119, 119, 119, 0.6);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(119, 119, 119, 0.6);
    -moz-box-shadow: 0px 0px 5px 1px rgba(119, 119, 119, 0.6);
}

.invitationCard:hover {
    box-shadow: 0px 0px 5px 3px rgba(119, 119, 119, 0.6);
    -webkit-box-shadow: 0px 0px 5px 3px rgba(119, 119, 119, 0.6);
    -moz-box-shadow: 0px 0px 5px 3px rgba(119, 119, 119, 0.6);
}

.invitationCardSent:hover {
    box-shadow: 0px 0px 5px 3px rgba(119, 119, 119, 0.6);
    -webkit-box-shadow: 0px 0px 5px 3px rgba(119, 119, 119, 0.6);
    -moz-box-shadow: 0px 0px 5px 3px rgba(119, 119, 119, 0.6);
}

.invitationCard,
.invitationCardSent>a {
    text-decoration: none;
}

/* .invitationCard, .invitationCardSent > a:hover {
    text-decoration: underline;
} */

.invitationCard__details>a {
    text-decoration: none;
}

.sent>a {
    text-decoration: none;
}

/* .invitationCard__details, .sent > a:hover {
    text-decoration: underline;
} */

.invitationCard__avatar {
    width: 60px !important;
    height: 60px !important;
    cursor: pointer;
}

.invitationCard__details__name {
    font-size: 0.83em !important;
    color: black;
}

.invitationCard__details__name:hover {
    cursor: pointer;
    text-decoration: underline;
}

.invitationCard__details__headline {
    color: gray;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
}

.invitationCard__details {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.sent {
    justify-content: center;
    align-items: center;
}

.invitationCard__buttons {
    display: flex;
    justify-content: space-evenly;
    max-width: 30%;
    min-width: 25%;
    /* flex: 0.3; */
}

.invitationCard__buttons>button {
    max-width: 25px !important;
    min-width: 25px !important;
    max-height: 25px !important;
    min-height: 25px !important;
    border-radius: 30%;
}


@media screen and (max-width: 700px) {
    .invitationCard {
        min-width: 280px;
        max-width: 280px;
    }

    .invitationCardSent {
        min-width: 180px;
        max-width: 180px;
        margin: 0;
    }

    .invitationCard__buttons {
        min-width: 35%;
        max-width: 35%;
    }

    .invitationCard__avatar {
        width: 40px !important;
        height: 40px !important;
    }

    .sent {
        flex: 0.8;
    }
}