.navOption {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    color: gray;
    cursor: pointer;
}

.navOption:hover {
    color: black;
}

.navOption>h3 {
    margin: 0;
}

.navOption__title {
    font-size: 12px;
    font-weight: 400;
}

.navOption__icon {
    object-fit: contain;
    height: 25px !important;
    width: 25px !important;
}

@media screen and (max-width: 700px) {
    .navOption {
        margin: 0;
    }

    .navOption__title {
        font-size: 9px;
    }

    .navOption__icon {
        object-fit: contain;
        height: 20px !important;
        width: 20px !important;
    }
}